{
  "templates": {
    "applicationIncomplete": {
      "templateID": 8
    },
    "applied": {
      "templateID": 9
    },
    "confirmed": {
      "templateID": 10
    },
    "declined": {
      "templateID": 11
    },
    "accepted": {
      "templateID": 12
    },
    "rejected": {
      "templateID": 13
    },
    "waitlisted": {
      "templateID": 14
    }
  },
  "lists": {
    "applicationIncomplete": {
      "listID": 1,
      "query": {
        "groups.hacker": true,
        "status.applied": false
      }
    },
    "applied": {
      "listID": 2,
      "query": {
        "$or": [
          {
            "groups.hacker": true,
            "status.applied": true,
            "status.accepted": false,
            "status.rejected": false,
            "status.waitlisted": false
          },
          {
            "groups.hacker": true,
            "status.statusReleased": false,
            "status.applied": true
          }
        ]
      }
    },
    "confirmed": {
      "listID": 3,
      "query": {
        "groups.hacker": true,
        "status.confirmed": true
      }
    },
    "checkedIn": {
      "listID": 4,
      "query": {
        "groups.hacker": true,
        "status.confirmed": true,
        "status.checkedIn": true
      }
    },
    "declined": {
      "listID": 5,
      "query": {
        "groups.hacker": true,
        "status.declined": true
      }
    },
    "accepted": {
      "listID": 6,
      "query": {
        "groups.hacker": true,
        "status.accepted": true,
        "status.confirmed": false,
        "status.declined": false,
        "status.statusReleased": true
      },
      "filterQuery": {
        "status.rsvpExpired": false
      }
    },
    "rejected": {
      "listID": 7,
      "query": {
        "groups.hacker": true,
        "status.rejected": true,
        "status.confirmed": false,
        "status.declined": false,
        "status.statusReleased": true
      }
    },
    "waitlisted": {
      "listID": 8,
      "query": {
        "groups.hacker": true,
        "status.waitlisted": true,
        "status.confirmed": false,
        "status.declined": false,
        "status.statusReleased": true
      }
    }
  }
}
